modules = ["nodejs-20"]
[deployment]
build = ["sh", "-c", "npm install && npm run build"]
run = ["sh", "-c", "npm run start"]
deploymentTarget = "cloudrun"
publicDir = "dist/public"

[[ports]]
localPort = 5000

[workflows]

[[workflows.workflow]]
name = "run"
mode = "sequential"
author = 21397185

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
